main {
  .container1 {
    height: 100vh;

    .black-container {
      text-align: center;
      background-color: $color-black;
      border-radius: 17px;
      padding: 2rem;
      margin-top: 5vh;
      margin-bottom: 5vh;
      position: relative;
      .pastille-login {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 60px;
        border-radius: 50%;
        background-color: $color-red;
        height: 60px;
        top: -40px;
        left: -40px;

        i {
          display: flex;
          align-items: center;
          color: $color-white;
          font-size: 2rem;
        }
      }

      #register {
        width: 60%;
        margin: auto;
      }

      h2 {
        color: $color-white;
      }

      img {
        width: 30%;
        margin-bottom: 2rem;
        cursor: pointer;
      }

      label {
        font-family: Rockwell;
        color: $color-white;
      }
      hr {
        border: 1px solid $color-red;
        border-radius: 2px;
      }
      h2 {
        color: $color-white;
        font-size: 2rem;
      }
      p {
        color: $color-white;
        font-size: 1rem;
        i {
          color: $color-red;
          font-size: 2rem;
        }
      }
      .pastille-login {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 60px;
        border-radius: 50%;
        background-color: $color-red;
        height: 60px;
        top: -19px;
        left: -19px;

        i {
          display: flex;
          align-items: center;
          color: $color-white;
          font-size: 2rem;
        }
      }

      .input75 {
        width: 75%;
        margin: auto;
      }
      .input50 {
        width: auto;
        margin: auto;
      }

      @media screen and (max-width: 780px) {
        .input50{
          width: 75%;
        }
        .inputRow {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: auto;
          width: 70%;
        }
        .pastille-login {
          top:  -19px;
          left: -19px;;
        }
      }

      .button:hover {
        padding-right: 4rem;
      }

      .button {
        height: auto;
        display: inline-block;
        border-radius: 4px;
        border: none;
        color: whitesmoke;
        text-align: center;
        font-size: 28px;
        transition: all 0.5s;
        margin: 8px;
        border-radius: 4px;
        background-color: $color-red;
        cursor: pointer;
        display: inline-block;
        transition: 0.2s;
        box-shadow: 13px 13px 17px -8px rgba(0, 0, 0, 0.3) inset;
      }
      .button :after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
      .button:hover :after {
        opacity: 1;
        right: 0;
      }
    }
  }
}
.formInputStyle {
  flex-direction: column;
  .ant-form-item-label {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  main {
    .container1 {
      .black-container {
        .pastille-login {
          width: 45px;
          height: 45px;
          top: -22px;
          left: -22px;

          i {
            font-size: 1.6rem;
          }
        }

        img {
          width: 60%;
        }
        #register {
          width: 100%;
        }
      }
    }
  }
}
