footer {
  padding-top: 2rem;
  background-color: #131a22;
  box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.66);
  color: whitesmoke;
  .image {
    img {
      width: 100%;
    }
  }
  i {
    font-size: 1rem;
  }
  p {
    margin-bottom: 12px;
  }
  @media screen and (max-width: 575px) {
    footer {
      display: flex;
      flex-basis: 50%;
      img {
        margin: auto;
        
      }
    }
  }
}
