footer {
  padding-top: 2rem;
  background-color: #131a22;
  box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.66);
  color: whitesmoke;
  .image {
    img {
      width: 100%;
    }
  }
  .fi-rr-calendar {
    margin: 15px;
    
  }
  i {
    margin-left: 18px;
    
    font-size: 1rem;
  }
  p {
    text-align: center;
    margin-bottom: 5px;
  }
  .pCalendar{
    margin-top:20px;
    margin-right: 50px;
  }
  @media screen and (max-width: 768px) {
   .bodyFooter{
     justify-content: center;
   }
   .iconFooter{
     display: flex;
     justify-content: center;
   }
   i {
    margin-left: 18px;
    
    font-size: 1rem;
  }
 
  .anticon {
  
    margin:auto
  }
  
  }
}
