.header {
    font-family: Rockwell;
    background-color: #131a22;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 150px;
    
   .ant-btn {
       padding: 0 5px 0 5px;
   }

    .burgerMenu {
        background-color: transparent;
        color: $color-white;
        margin-left: 1rem;
        height: 40px;
        width: 40px;
        padding: 0;
        padding-top: 4px;
        
        i {
            font-size: 1rem;
            
        }
    }

    nav ul li {
        display: inline-block;
        margin-left: 15px;
        font-size: 25px;
        padding: 3px 13px 3px 13px;
        border-radius: 8px;
        cursor: pointer;
        
        
        &:hover {
            background-color: rgb(19, 19, 19);
            box-shadow: 4px 10px 17px 0px rgba(0, 0, 0, 0.66) inset;
        }
    }

    nav ul {
        margin-bottom: 0px;
        padding-inline-start: 20px;
    }
    nav {
        width: 100%;
    }

    a {
        font-size: 20px;
    }

    img {
        width: 100%;
    }

    .connectAndStore {
        display: flex;
        justify-content: flex-end;
        .headerDropdown {
            border: 5px solid red;
        }
    }

    .connect {
        border: 1px solid white;
        border-radius: 16px;
        display: flex;
        align-items: center;
        padding: 1px 1px 1px 1px;
        i {
            margin-left: 6px;
            margin-right: 6px;
        }
        .arrow-down {
            padding-top: 10px;
        }
    }

    .shop {
        font-size: 2rem;
        margin-left: 16px;
        display: flex;

        .shop-cart {
            margin-top: 9px;
            position: relative;

            p {
                margin-bottom: 0;
                padding-right: 2px;
            }
        }

        .num-articles-header {
            background-color: red;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            top: -2px;
            right: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
        }
    }
}

.ant-drawer-wrapper-body {
    background-color: $color-black;
    color: $color-white;

    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        nav ul li {
            font-size: 1.5rem;
            display: inline-block;
            cursor: pointer;
            padding: 3px 13px 3px 13px;
            border-radius: 8px;
            margin-top: 35px;

            &:hover {
                background-color: rgb(19, 19, 19);
                box-shadow: 4px 10px 17px 0px rgba(0, 0, 0, 0.66) inset;
            }
        }

        ul {
            padding-inline-start: 10px;
        }
    }
}

@media screen and (max-width: 1600px) {
    .header {
        nav ul li {
            font-size: 15px;
        }
    }
}

@media screen and (min-width: 992px) {
    .burgerMenu {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .header {
        .shop {
            font-size: 1.7rem;
        }
    }
}


