.ourproducts, .productDetails {
    p {
        text-align:center;
    }
}

// MENU LATERAL GAUCHE DES CATEGORIES DE VIANDES
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    color:$color-white;
    background-color: $color-black;
    margin-bottom:2rem;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #5d677434;
}

.ant-menu {
    font-size:1.4rem;
    @media screen and (max-width:767px) {
        font-size:10px;
    }
    .iconMenu {
        font-size:10px;
    }
}

.ant-row-center {
    width:100%;
}

// AFFICHAGE DES PRODUITS 

.product {
    cursor:pointer;
    background-color: $color-black;
    //padding: 8rem;
    
    height:auto;
    p {
        padding : 10px;
        color: $color-white;
        text-align:center;
        font-size:1.2rem;
        @media screen and (max-width:767px) {
            font-size:15px;
        }
    }
    img {
        width:100%;
    }
}

// PAGE DETAIL D'UN PRODUIT

.productDetails {

    .productPrice {
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:100%;
        text-align:center;
        border-radius: 18px;
        box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.25);
        background-color: $color-black;
        color:$color-white;
        ul {
            list-style-type: none;
            padding:2rem 2rem;
            li {
                margin-bottom:1rem;
                font-size: 36px;
            }
        }
        input {
            width:100%;
            text-align:center;
            color:$color-black;
        }
        .hidden {
            display:none;
        }
    }

    .productInfos {
        p {
            font-size:33px;
        }
    }
}
