.ourproducts {
    margin-top:179px;
}

// MENU LATERAL GAUCHE DES CATEGORIES DE VIANDES
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    color:$color-white;
    background-color: $color-black;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #5d677434;
}

.ant-menu {
    font-size:1.4rem;
    @media screen and (max-width:767px) {
        font-size:10px;
    }
    .iconMenu {
        font-size:10px;
    }
}

.ant-row-center {
    width:100%;
}

// AFFICHAGE DES PRODUITS 

.product {
    cursor:pointer;
    background-color: $color-black;
    //padding: 8rem;
    
    height:auto;
    p {
        padding : 10px;
        color: $color-white;
        text-align:center;
        font-size:1.2rem;
        @media screen and (max-width:767px) {
            font-size:15px;
        }
    }
    img {
        width:100%;
    }
}

