.element {
    position: relative;
    cursor: pointer;
    img {
        border-radius: 20px;
        width: 100%;
        box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.45);
    }
    font-family: Seaweed Script;

    .element-name {
        position: absolute;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        bottom: 0;
        left:0;
        right: 0;
        h1 {
            color: white;
            text-shadow: 0px 0px 3px $color-red;
            text-align: center;
            line-height: 1.8rem;
            font-size: 35px;
        }
    }

    .element-price {
        position: absolute;
        display: flex;
        justify-content:flex-end;
        margin-right: 30px;
        margin-top: 15px;
        top: 0;
        left:0;
        right: 0;
        font-size: 25px;
        h2 {
            color: white;
            text-shadow: 0px 0px 3px $color-red;
        }
    }
    

    .element-absolute {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .element-inside {
            border: 2px solid $color-white;
            border-radius: 18px;
            filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
            width: 93%;
            height: 93%;

            &:hover {
                width: 90%;
                height: 90%;
                transition: width 0.2s ease-out, height 0.2s ease-out;
            }
        }
    }
}

@media screen and (max-width: 576px) {
   .element {
       .element-name {
           h1 {
               font-size: 1.2rem;
           }
       }

       .element-price {
           font-size: 0.8rem;
       }
   }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .element {
        .element-name {
            h1 {
                font-size: 2rem;
                margin-bottom: 5px ;
            }
        }
 
        .element-price {
            font-size: 1rem;
        }
    }

}

@media (min-width: 1200px) and (max-width: 1600px) {
    .element {
        .element-name {
            h1 {
                font-size: 1.8rem;
                margin-bottom: 5px ;
            }
        }
 
        .element-price {
            font-size: 1rem;
        }
    }

}