@import "~antd/dist/antd.css";

@import "/public/icons/uicons/css/uicons-regular-rounded";

@font-face {
  font-family: "Rockwell";
  src: url("/fonts/Rockwell/Rockwell.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@import "_variables";

@import "_accueil";

@import "_header";

@import "_footer";

@import "_hero";

@import "_createAccount";
<<<<<<< HEAD
@import "_products";
=======

@import "_products";

@import "_productElement";

@import "_store.scss";

@import "_admin.scss";
>>>>>>> 1124ca27341987e2c273b0dfe35e97fc2f7212e1

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rockwell;
  background-color: #f6f6f6;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
