@import "~antd/dist/antd.css";

// @import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');


@import "/public/icons/uicons/css/uicons-regular-rounded";

@font-face {
  font-family: "Rockwell";
  src: url("/fonts/Rockwell/Rockwell.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Seaweed Script';
  src: url("/fonts/Seaweed/SeaweedScript-regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@import "_variables";

@import "_accueil";

@import "_header";

@import "_footer";

@import "_hero";

@import "_createAccount";

@import "_products";

@import "_productElement";

@import "_store.scss";

@import "_admin.scss";

@import "_notrehistoire.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rockwell;
  background-color: #f6f6f6;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.top-color{
  width: 100%;
  height: 150px;
  background-color: #131a22;
}
